html {
  font-size: 14px !important;
  overflow: hidden;
}

::placeholder,
::-webkit-input-placeholder, /* Chrome/Opera/Safari */
::-moz-placeholder, /* Firefox 19+ */
:-ms-input-placeholder, /* IE 10+ */
:-moz-placeholder { /* Firefox 18- */
  color: #aaa !important;
}

.w-340px {
  width: 340px;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.p-1 {
  padding: .25rem;
}

.p-4 {
  padding: 1rem;
}

.pr-2 {
  padding-right: .5rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.bg-white {
  background-color: #fff;
}

.rounded {
  border-radius: .25rem;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.navbar {
  width: 240px;
  background-color: #3a3a3a;
  color: #fff;
}

@media screen and (max-width: 769px) {
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .navbar:not(.is-navbar-shown) {
    display: none;
  }
}

.navbar-header,
.navbar-footer {
  background-color: rgba(255, 255, 255, .02);
}

.navbar-header {
  flex-direction: column;
  text-transform: uppercase;
}

.navbar-header .logo {
  padding: .5rem;
  background-color: #fff;
  border-radius: .75rem;
  margin-bottom: .5rem;
  width: 64px;
  height: 64px;
}

.navbar-body {
  padding: .5rem;
}

.has-auto-scroll {
  overflow: auto;
}

.navbar-credits {
  background-color: rgba(255, 255, 255, .04);
  font-size: .8rem;
  cursor: pointer;
}

a.navbar-item,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: rgba(255, 255, 255, .5);
  background-color: transparent;

  &:active, &:focus, &:hover, &.is-active {
    color: rgba(255, 255, 255, .9);
    background-color: rgba(255, 255, 255, .05);
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header-title-line .button + * {
  margin-left: .25rem;
}

.card {
  @extend .rounded;
  @extend .bg-white;
  @extend .shadow;
  overflow: auto;
}

.subform {
  @extend .rounded;
  background-color: #fafafa;
  border: 1px solid #eee;

  .subform-footer {
    background-color: #f1f1f1;
    padding: 1rem;
  }

  .subform-column-wrapper {
    @extend .rounded;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: .75rem;

    & + .subform-column-wrapper {
      margin-top: .5rem;
    }

    .action-bar {
      background-color: #fafafa;
    }
  }
}

