<script>
  export let messages
</script>

{#if messages.length}
  <div class="notification is-warning">
    <ul>
      {#each messages as message}
        <li>{message}</li>
      {/each}
    </ul>
  </div>
{/if}

