<script>
  import Layout from './Layout.svelte'
  import Notification from '../../components/Notification.svelte'
  import { post } from '../../utils/request'
  import { user, authToken } from '../../store'
  import { push } from 'svelte-spa-router'

  const loginForm = {
    locked: false,
    messages: [],
    email: null,
    password: null,
  }

  function submit ($event) {
    $event.preventDefault()
    loginForm.locked = true

    post('/sessions', { email: loginForm.email, password: loginForm.password }, null, false)
      .then(response => {
        user.set(response.data.user)
        authToken.set(response.data.token)
        localStorage.setItem('user', JSON.stringify($user))
        localStorage.setItem('authToken', $authToken)
        push('/admin')
      })
      .catch(error => {
        loginForm.messages = error.response.data.messages
        user.set(null)
        authToken.set(null)
        localStorage.removeItem('user')
        localStorage.removeItem('authToken')
      })
      .finally(() => {
        loginForm.locked = false
      })
  }
</script>

<Layout>
  <div class="flex items-center justify-center h-full bg-gray-200">
    <div class="bg-white p-4 rounded shadow w-340px">
      <h1 class="is-size-3">Entrar</h1>

      <form on:submit={submit}>
        <div class="mb-4">
          <label class="label" for="email">E-mail</label>
          <input bind:value={loginForm.email} class="input" id="email" type="email" placeholder="E-mail" autocomplete="username">
        </div>

        <div class="mb-4">
          <label class="label" for="password">Senha</label>
          <input bind:value={loginForm.password} class="input" id="password" type="password" placeholder="Senha" autocomplete="current-password">
        </div>

        <Notification messages={loginForm.messages} />

        <div class="flex items-center justify-between">
          <button disabled={loginForm.locked} class="button is-link" type="submit">Entrar</button>
          <a class="link is-link is-light" href="#/forgot-password">Esqueceu sua senha?</a>
        </div>
      </form>
    </div>
  </div>
</Layout>
